<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <!-- Bootstrap -->
        <link href="../../static/css/bootstrap.min.css" th:href="@{webjars/bootstrap/css/bootstrap.min.js}" rel="stylesheet" media="screen"/>
    </head>
    <body>
        <div th:fragment="header">
            <nav role="navigation" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" th:href="@{/}" class="navbar-brand" th:text="#{header_text}">Developer's Bookshelf</a>
                </div>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- TODO add Contact page-->
                        <!--
                        <li class="active">
                            <a href="#" th:href="@{/}" th:text="#{nav_home}">Home</a>
                        </li>
                        <li>
                            <a href="#contact" th:text="#{nav_contact}">Contact</a>
                        </li>
                        -->
                        <li id="liAddBook" sec:authorize="hasRole('ROLE_USER')">
                            <a id="btnAddBook" class="btn btn-success"
                               th:href="@{/create}" th:text="#{menu_add_book}">menu_add_book</a>
                        </li>

                        <li id="liResetBooks" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a id="btnResetBooks" class="btn btn-primary"
                               th:href="@{/reset}" th:text="#{label_book_reset_all}">label_book_reset_all</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" th:text="#{label_language}">Language<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{?lang=en}" th:text="#{label_en_CA}">English</a></li>
                                <li><a th:href="@{?lang=de}" th:text="#{label_de_DE}">German</a></li>
                                <li><a th:href="@{?lang=fr}" th:text="#{label_fr_CA}">French</a></li>
                                <li><a th:href="@{?lang=ro}" th:text="#{label_ro_RO}">Romanian</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="!isAuthenticated()">
                            <a href="/signin" th:href="@{/signin}" th:text="#{nav_signin}">Sign in</a>
                        </li>
                        <li sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                            <a href="#" th:text="'[ ' + ${#authentication.name} + ' ]'">Welcome, Santa</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="/logout" th:href="@{#}" onclick="$('#form').submit();" th:text="#{label_logout}">Logout</a>
                            <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </body>
</html>